hr{
    border: 1px solid #666;
    margin:2em 0;
}
.button{
    display: inline-block;
    background-color: #ccc;
    color: #000;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    transition: all 0.1s ease-in;
}
.button:hover{
    background: #369;
    color: #fff;
}
.button.type-pill{
    border-radius: 5em;
}
.button:active{
    background: orange;
    color: #fff;
}